<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/underscore/underscore.js"></script>
<script type="text/javascript" src="/backbone/backbone.js"></script>
<script type="text/javascript" src="/blob/Blob.js"></script>
<script type="text/javascript" src="/FileSaver/FileSaver.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script type="text/javascript" src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script type="text/javascript" src="/js/CSVParser.js"></script>