<script>
    var parser;
    var CSVArray;
    var arrayOfArrays = new Array();
    var arrayOfDict = new Array();

    function doVisualization(){
        parser = new  CSVParser(myCSV);
        CSVArray = parser.array();
        getFields();

    }

    //sets arrayOfArrays to be an array of each field (including the field name at the first index of each sub-array!)
    function getFields () {
        for (var i = 0; i < numFields; i++) {
            arrayOfArrays[i] = new Array();
            for (var j = 0; j < CSVArray.length; j++) {
                arrayOfArrays[i][j] = CSVArray[j][i];
            }
        }
        console.log(arrayOfArrays);
    }

    function countGrades (){
        for (var i =0; i < numFields; i++){
          arrayOfDic.push(generateMap(arrayOfArrays[i]));
        }
    }

    //fieldNum is the index that a field is on
    function createData(fieldNum){
        var tmp1 = "Number of ";
        var tmp2 = " documents: ";
        var data = [];
        for(var i = 0; i < arrayOfDict[fieldNum].keys.length; i++) {
            data.push({Label: tmp1 + arrayOfDict[fieldNum].keys[i] + tmp2, value: arrayOfDict[fieldNum].value[i]});
        }
        return data;
    }

    function Dictionary(){

        this.keys = [];
        this.values = [];

        this.add = function(entry) {
            var index = this.keys.indexOf(entry);
            if (-1 == index){
                this.keys.push(entry);
                this.values.push(1);
                this.length == (this.length + 1);
            }
            else{
                this.values[index] = (this.values[index] + 1);
            }
        };

        this.getValue = function(key) {
            var index = this.keys.indexOf(key);
            return this.values[index];

        };

    }

    //    var map = new Dictionary();
    //    map.add("A");
    //    map.add("A");
    //    map.add("A");
    //    map.add("A");
    //    map.add("C");
    //    map.add("C");
    //    map.add("C");
    //    map.add("B");
    //    map.add("B");
    //    console.log(map.keys);
    //    console.log(map.values);
    //    console.log(map.getValue("A"));

    function generateMap (arrayOfStrings) {
        var map = new Dictionary();
        for (var i = 1; i < arrayOfStrings.length; i++) {
            var entry = arrayOfStrings[i];
            map.add(entry)
        }
        return map
    }

    Morris.Donut({
    element: 'myfirstchart',
    data: [
        {label: "Number of 0 papers: ", value: grades[0]},
        {label: "Number of 1 papers: ", value: grades[1]},
        {label: "Number of 2 papers: ", value: grades[2]},
        {label: "Number of 3 papers: ", value: grades[3]}
    ],
    labelColor: 'black',
    colors: [
        '#CB5DF5',
        '#8451FF',
        '#6375E8',
        '#60B8FF'
    ]
});

</script>
